#appMainDiv{
  display: flex;
  gap: 20px;
  width: 90%;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
}

#logoimg{
  width: 70%;
  height: 70%;
}